<h1>DashBoard</h1>
<p>Total Number of users: <%= @num_of_users %> </p>
<p>Total Number of questions: <%= @num_of_questions %> </p>
<p>Total Number of answers: <%= @num_of_answers %> </p>
<p>Total Number of Tenant Api requests: <%= @num_of_requests %> </p>
